<% if !@results.nil? %>
	<% if @results != false %>
		<div class="results">
			<%= link_to "Download", @results %>
		</div>
	<% else %>
		<div>Not a valid hiphopdx single link</div>
	<% end %>
<% end %>
<%= "#{@results.class} : #{@results}" %>
<br/>
<%= @bugger %>
