<div class="container">
	<h1 id="title">HIP HOP DX DOWNLOADER</h1>
	<form accept-charset="UTF-8" action="" method="post">
	  <div><input id="results" name="results" type="text"></div>
	  <div id="sub_butt"><input id="submit" name="submit" value="Submit" type="submit"></div>
	</form>
	<%= render 'res' %>
</div>

